
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bor: 1px solid grey;
}
.container {
    width: 100vw;
    height: 100vh;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}
.header1 {
    display: flex;
    height: 20px;
    color: white;
    background-color: #201152;
    justify-content: space-between;
}
.header1 .left-side {
    display: flex;
    width: 60%;
    justify-content: space-between;
}
.header1 .right-side {
    display: flex;
    justify-content: space-between;
}
.header2 {
    display: flex;
    height: 70px;
    color: white;
    padding: 0 150px;
    justify-content: space-between;
}
.header2 .left-side {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
    align-items: center;
}
.header2 div > img:nth-child(1) {
    width: 50px;
    height: 50px;
}
.header2 input:nth-child(2) {
    width: 306px;
    height: 33px;
    margin-left: 55px;
}
.header2 input:nth-child(3) {
    width: 141px;
    height: 33px;
    background-color: #363580;
}

.header2 input:nth-child(4) {
    width: 141px;
    height: 33px;
    background-color: #0179ff;
}
.header2 .right-side {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}
/* mail icon */
.header2 .right-side > img:nth-child(1) {
    width: 20px;
    height: 20px;
}
/* envelope */
.header2 .right-side > img:nth-child(3) {
    width: 10px;
    height: 10px;
}

.header3 {
    display: flex;
    height: 42px;
    color: black;
    padding: 0 150px;
    justify-content: space-between;
    align-items: center;
}
.header3 div:nth-child(2) > p {
    margin-right: 20px;
}
.header3 > div:nth-child(2) img {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
.header3 .left-side {
    display: flex;
    width: 60%;
    justify-content: space-between;
}
.header3 .right-side {
    display: flex;
    justify-content: space-between;
}

.contact{
    display: flex;
    justify-content: flex-end;
}

.contact div > img {
    margin-right: 20px;
}

.contact > p {
    margin-right: 20px;
}
.ad-box {
    display: flex;
    margin:  0 50px;
}

.ad-box img:nth-child(1) {
    width: 455px;
    height: 238px;
}


.content-box {
    display: flex;
    margin: 36px 150px;
}

/* first content box */
.content-box div:nth-child(1) img{
    position: relative;
    width: 880px;
    height: 350px;
}

/* second content box */
.content-box div:nth-child(2) {
    position: absolute;
    right: 489px;
    background-color: hsla(0, 3%, 25%,.9);
    width: 343px;
    height: 350px;
    color: white;
    padding: 30px;
}

.content-box div:nth-child(2) h3:nth-child(1){
    position: absolute;
    top: 70px;
}

.content-box div:nth-child(2) p:nth-child(2) {
    position: absolute;
    top: 120px;
    font-size: 14px;
}
.content-box div:nth-child(2) p:nth-child(3) {
    position: absolute;
    top: 200px;
    font-size: 16px;
}

/* third content box */
.content-box div:nth-child(3) {
    position: relative;
    width: 300px;
    height: 350px;
    background-color: #f8f8f8;
    margin-left: 40px;
    padding: 10px;
}

/* make the 5 small buttons */
.content-box div:nth-child(3) img:nth-child(7),
.content-box div:nth-child(3) img:nth-child(8),
.content-box div:nth-child(3) img:nth-child(9),
.content-box div:nth-child(3) img:nth-child(10),
.content-box div:nth-child(3) img:nth-child(11){
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    top: 90px;

}

.content-box div:nth-child(3) img:nth-child(9) {
    width: 40px;
    height: 40px;
}

/* Read the 360 button */
.content-box div:nth-child(2) input:nth-child(4) {
    width: 120px;
    height: 40px;
    position: absolute;
    bottom: 50px;
    right: 100px;
    color: white;
    background-color: blue;

}

/* the pretty background */
.content-box div:nth-child(3) img:nth-child(1){
    width: 300px;
    height: 72px;
    border-radius: 5px;
}
.content-box div:nth-child(3) img:nth-child(2){
    position: absolute;
    width: 30px;
    height: 30px;
    right: 250px;
    bottom: 290px;
}
.content-box div:nth-child(3) p:nth-child(3){
    position: absolute;
    right: 200px;
    bottom: 310px;
    color: white;
    font-size: 12px;
    font-weight: 900;
}
.content-box div:nth-child(3) p:nth-child(4){
    position: absolute;
    left: 60px;
    bottom: 290px;
    color: white;
    font-size: 12px;
}
.content-box div:nth-child(3) p:nth-child(5){
    position: absolute;
    bottom: 230px;
}

.content-box div:nth-child(3) p:nth-child(6) {
    position: absolute;
    bottom: 150px;
}
